.dojoDndItem, .dojoDndItemAnchor {
    padding:3px;
    border: 1px black solid;
    margin-bottom: 3px;
    height: 100px;
}

.dojoDndItemOver {
    background-color: #ededed;
    cursor:pointer;
}

.dojoDndItemSelected {
    background-color: #5bbdea; color: #444;
}

.dojoDndItemOver .dojoDndItemSelected {
    background-color: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
    background-color: #ededed;
}

.dojoDndItemBefore, .dojoDndItemBefore > td {
    border-top: 2px solid #369;
}

.dojoDndItemAfter, .dojoDndItemAfter > td {
    border-bottom: 2px solid #369;
}

.dojoDndAvatar {
    border:2px solid #ccc;
}

.dojoDndAvatarHeader {
    background-color: #aaa;
}

.dojoDndAvatarItem {
    background-color: #fff;
    border-bottom:1px solid #666;
}

.dojoDndAvatarItem .itemText {
    font-size: 120%;
}

.clear_both {
    clear: both;
}

.container {
    min-height: 800px;

}

.dojoDndHandle {
    border-bottom: 1px black solid;
}

.outerContainer {
    width: 100%;
}

body {
    padding: 15px 15px 15px 0px;
}

ol, ul {
    list-style: none;
}

.column {
    width: 1%;
    padding-left: 15px;
}