<div>
	<div data-dojo-type="dijit/MenuBar" class="${baseClass} overflow_auto">
		<div data-dojo-type="dijit/MenuBarItem" class="float_left">
			Project
		</div>
		<div data-dojo-type="dijit/MenuBarItem" class="float_left" 
		data-dojo-props="disabled:true">
			Sprint
		</div>

    	<div data-dojo-type="dijit/PopupMenuBarItem" class="float_right">
        	<span>Workflow</span>
			<div data-dojo-type="dijit/DropDownMenu">
				<div data-dojo-type="dijit/MenuBarItem" data-dojo-attach-event="onClick:newWorkflowPublish">
					New
				</div>
			</div>
		</div>

    	<div data-dojo-type="dijit/PopupMenuBarItem" class="float_right">
        	<span>Story</span>
			<div data-dojo-type="dijit/DropDownMenu">
				<div data-dojo-type="dijit/MenuBarItem" data-dojo-attach-event="onClick:newStoryPublish">
					New
				</div>
			</div>
		</div>
	</div>
</div>