<td  class="${baseClass}" data-dojo-attach-event="onclick:toggler">
	<div data-dojo-type="dojo/dnd/Moveable" data-dojo-attach-point="trashDialog" class="${baseClass}Moveable">
		<div class="handle">
			Trash
			<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon dijitDialogCloseIconHover dijitDialogCloseIconActive" data-dojo-attach-event="onclick: onCancel" title="Cancel" role="button" tabindex="-1">
			</span>
		</div>
		<ul data-dojo-attach-point="trashSourceList" id="trash"></ul>
	</div>
</td>

