<div>
	<div data-dojo-type="dijit/MenuBar" class="${baseClass} overflow_auto">
		<div data-dojo-type="dijit/MenuBarItem" class="float_left">
			Project
		</div>
		<div data-dojo-type="dijit/MenuBarItem" class="float_left" 
		data-dojo-props="disabled:true">
			Sprint
		</div>
		<div data-dojo-type="dijit/MenuBarItem" class="float_right" 
		data-dojo-attach-event="onClick:newWorkflowPublish">
			New Workflow
		</div>
		<div data-dojo-type="dijit/MenuBarItem" class="float_right" 
		data-dojo-attach-event="onClick:newStoryPublish">
			New Story
		</div>
	</div>
</div>