<div class="${baseClass}">
	<div class="overflow_auto">
		<label for"storynameIpt">Story name: </label>
		<input name="storynameIpt" id="storynameIpt" required="true" 
		data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder: 'Name your story'" type="text" />
	</div>
	<br />
	<div class="overflow_auto">
		<label for"storydescIpt">Story description: </label>
		<input name="storydescIpt" id="storydescIpt" required="true" 
		data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder: 'Describe your story'" type="text" />
	</div>
	<br />
	<div class="overflow_auto">
		<label for"workflowCmbBx">Select a workflow:</label>
		<input name="workflowCmbBx" id="workflowCmbBx" required="true" 
		data-dojo-type="dijit/form/ComboBox" data-dojo-props="searchAttr:'title'" />
	</div>
</div>