<div class="${baseClass}">
	<div data-dojo-type="dijit/form/Form" id="newStoryForm" data-dojo-attach-point="newStoryForm" data-dojo-id="newStoryForm" encType="multipart/form-data" data-dojo-attach-event="onSubmit:newStoryValidation">
		<div class="overflow_auto">
			<label for"name">Story name: </label>
			<input name="name" required="true" data-dojo-attach-point="storynameIpt" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder: 'Name your story'" type="text" />
		</div>
		<br />
		<div class="overflow_auto">
			<label for"description">Story description: </label>
			<input name="description" required="true" data-dojo-attach-point="storydescIpt" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeHolder: 'Describe your story'" type="text" />
		</div>
		<br />
		<div class="overflow_auto">
			<label for"workflow">Select a workflow:</label>
			<input name="workflow" required="true" data-dojo-attach-point="workflowCmbBx" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="searchAttr:'title'" />
		</div>
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="submit">
				OK
			</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:cancel">
				Cancel
			</button>
		</div>
	</div>
</div>