body {
    font-family: "Tahoma","Arial","Verdana",sans-serif;
    font-size: 62.5%;
    width: 100%;
    padding: 15px 0px 15px 0px;
}

h1 {
    font-size: 2em;
}

.kkcard {
    vertical-align: baseline;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.dojoDndItem, .dojoDndItemAnchor {
    padding:3px;
    border: 1px black solid;
    margin-bottom: 3px;
    height: 100px;
}

.column {
    width: 1%;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px #336699 solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*.dojoDndAvatar, .dojoDndItemAnchor, .focusedNode, .dojoDndItemOver {
    border-width: 2px;
}*/

.card_id_block {
    width: 50px;
    display: inline-block;
}

.card_name_block {
    display: inline-block;
}

.card_title {
    padding: 0px 10px 0px 10px;
    line-height: 25px;
    font-size: 1em;
}

.itemText {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.float_left {
    float: left;
}

.overflow_hidden {
    overflow: hidden;
}

.dojoDndItemOver {
    background-color: #ededed;
    cursor: default;
}

.dojoDndItemSelected {
    background-color: #5bbdea; color: #444;
}

.dojoDndItemOver .dojoDndItemSelected {
    background-color: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
    background-color: #ededed;
}

.dojoDndItemBefore, .dojoDndItemBefore > td {
    border-top: 2px solid #369;
}

.dojoDndItemAfter, .dojoDndItemAfter > td {
    border-bottom: 2px solid #369;
}

.dojoDndAvatar {
    border:2px solid #ccc;
}

.dojoDndAvatarHeader {
    background-color: #aaa;
}

.dojoDndAvatarItem {
    background-color: #fff;
    border-bottom:1px solid #666;
}

.dojoDndAvatarItem .itemText {
    font-size: 120%;
}

.clear_both {
    clear: both;
}

.container {
    /*min-height: 800px;*/

}

.dojoDndHandle {
    border-bottom: 1px black solid;
}

.outerContainer {
    width: 100%;
}


ol, ul {
    list-style: none;
}
