.menubar {
	/*width: 100%;*/
	background-color: black;
	color: white;
	/*font-size: 1.2em;*/
}

.menubar .dijitMenuItem {
	color: white;
}

.menubar .dijitMenuItemHover, .menubar .dijitMenuItemSelected {
	background-color: white;
	color: black;
}
