.menubar {
	/*width: 100%;*/
	background-color: black;
	color: white;
}

.menubar .dijitMenuItem {
	color: white;
}

.menubar .dijitMenuItemHover, .menubar .dijitMenuItemSelected {
	background-color: white;
	color: black;
}

.dijitMenuBar {
	font-size: 1.2em;
}

.dijitMenuPopup {
	font-size: 1.2em;
}

.dijitMenuItemLabel {
	padding: 5px;
}